<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <title>Detail</title>
</head>
<body>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 m-5 p-2">
                <div class="card mb-3 p-2" style="max-width: 940px; align-items: center;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="{{product.image}}" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">{{product.title}}</h5>
                          <h4 class="card-text" style="color:green;">Regular Price: ${{product.price}}</h4>
                          <h4 class="card-text" style="color: red;">Discount price: ${{product.discount_price}}</h4>
                          <h4 class="card-text"><b>Category: {{product.category}}</b></h4>
                          <hr>
                          <p class="card-text">{{product.description}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    
</body>
</html>